src/Pokemon/pokemons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pokedex" type="PokedexType"/>
  <xs:complexType name="PokedexType">
    <xs:sequence>
      <xs:element type="PokemonType" name="Pokemon" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PokemonType">
    <xs:sequence>
      <xs:element type="NombreType" name="Nombre"/>
      <xs:element name="PV">
      </xs:element>
      <xs:element name="Ataque1">
      </xs:element>
      <xs:element name="Ataque2">
      </xs:element>
      <xs:element name="Etapa">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NombreType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Classe" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>